body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #797D81;
}

.navbar {
    background-color: #ff8800;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 18px;
    color:white;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:1cm;
    margin-right: 2cm;
    align-items: center;
}
.navbar-links >h2{
    margin-bottom: 0.1cm;
    color:white;
    text-shadow: #030303;
    
}
.navbar-links >h5{
    margin-top: 0.1cm;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid rgb(32, 32, 32);
}

h2 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

strong {
    margin-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    padding: 8px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 20px;
}

button.absent,
button.present,
button.leave,button.remove {
    background-color: black;
}

button {
    background-color:#185e8d ;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color:#3498db ;
}

/* Responsive styles for mobile view */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

}

#resultSection {
    margin-top: 20px;
}

#resultSection h3 {
    margin-top: 10px;
}

#resultSection p {
    margin-bottom: 5px;
}

#resultSection span {
    font-weight: bold;
}
